.Nav_block {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #1f1f1f;
  border-bottom: 5px solid #2b2b2b;

  .Navbar {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      color: #dddddd;
      padding: 12.5px;
      margin: 0 5px 0 5px;
    }
  }
}
