.Project_navigation_wrapper {
  display: flex;
  align-items: center;

  .Project_navigation {
    color: #dddddd;
    font-size: 20px;
  }
}

.Project_list {
  position: absolute;
  top: 55px;

  width: 300px;

  color: #ddd;

  font-size: 20px;
  background-color: #1f1f1f;

  border-right: 5px solid #2b2b2b;
  border-bottom: 5px solid #2b2b2b;
  ul {
    li {
      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;

        transition: 0.5s;

        text-align: center;
      }

      .text:hover {
        font-size: 30px;
        background-color: #ff8100;

        color: #2b2b2b;
        font-weight: bold;
      }
    }
  }
}
